<% subtitle ||= nil %>

<div class="flex flex-col items-center justify-center mb-12 text-center">
    <% if breadcrumb_trail.any? %>
        <div class="mb-8">
            <%= render 'components/navigation/breadcrumbs' %>
        </div>
    <% end %>
    <div class="mb-10">
        <% if subtitle %>
            <h1 class="h2 mb-4"><%= title %></h1>
            <p><%= subtitle %></p>
        <% else %>
            <h1 class="h2 mb-0"><%= title %></h1>
        <% end %>
    </div>
    <div class="flex items-center justify-center gap-x-4">
        <%= yield %>
    </div>
</div>