<div class="container-xs">
    <%= render 'components/headers/header_center', title: 'Create a Workspace' %>

    <div class="space-y-10">
        <%= render 'components/cards/card_section' do %>
            <%= simple_form_for @workspace do |f| %>
                <%= render 'shared/error_messages', form: f %>

                <div class="form-inputs">
                    <%= f.input :name, required: true, autofocus: true %>
                </div>

                <div class="form-actions">
                    <%= f.button :submit, "Create Workspace", class: 'w-full' %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
