<div class="flex items-center justify-between px-4 md:px-8 py-4 mb-16">
    <%# Logo %>
    <%= link_to root_path do %>
        <%= image_tag 'logo.svg', class: 'h-6' %>
    <% end %>
    <% if user_signed_in? %>
        <div data-controller="dropdown" class="relative">
            <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" id="menu-button">
                <%= render 'components/avatars/avatar', user: current_user, size: :lg %>
            </button>

            <div
                data-dropdown-target="menu"
                class="hidden transition transform origin-top-right absolute right-0"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
            >
                <div class="z-10 mt-2 w-56 divide-y divide-tertiary-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="px-4 py-3" role="none">
                        <p class="text-sm text-tertiary-600" role="none">Signed in as</p>
                        <p class="truncate text-sm font-medium text-tertiary-900" role="none"><%= current_user.email %></p>
                    </div>
                    <div class="py-1" role="none">
                        <%= link_to 'Account Settings', edit_user_registration_path, class:"text-tertiary-700 block px-4 py-2 text-sm hover:bg-tertiary-100 hover:text-tertiary-900 active:bg-tertiary-100 focus:active:bg-tertiary-100", role:"menuitem", tabindex:"-1", id:"menu-item-0" %>
                    </div>
                    <div class="py-1" role="none">
                        <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-tertiary-700 block px-4 py-2 text-sm hover:bg-tertiary-100 hover:text-tertiary-900 active:bg-tertiary-100 focus:active:bg-tertiary-100', role: 'menuitem', tabindex: '-1', id: 'menu-item-3' %>
                    </div>
                </div>
            </div>
        </div>
    <% else %>  
        <%# Login button %>
        <%= link_to new_user_session_path, class: 'btn flex items-center justify-center gap-2' do %>
            Login
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
            </svg>
        <% end %>
    <% end %>
</div>
