<div class="container-xs">
    <%= render 'components/headers/header_center', title: 'Invite Members' %>

    <div class="space-y-10">
        <%= render 'components/cards/card_section' do %>
            <%= simple_form_for [@workspace, @workspace_user] do |f| %>
                <%= render 'shared/error_messages', form: f %>

                <div class="form-inputs">
                </div>

                <div class="form-actions">
                    <%= f.button :submit, "Send Invites", class: 'w-full' %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>