<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'shared/error_messages', form: f %>
  
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                placeholder: t('placeholder.email'),
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                placeholder: t('placeholder.password'),
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean, wrapper_html: {class: 'hidden'}, :input_html => { :checked => true } if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'w-full' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
