<% size ||= :sm %>

<% initials = user.name.split.map { |n| n[0].upcase }.join[0..1] %>
<% case size %>
<% when :xs %>
    <span class="text-tertiary-600 inline-flex items-center justify-center h-4 w-4 overflow-hidden rounded-full bg-tertiary-100 flex-shrink-0 border border-tertiary-300">
        <span class="text-xs font-medium leading-none"><%= initials %></span>
    </span>
<% when :sm %>
    <span class="text-tertiary-600 inline-flex items-center justify-center h-5 w-5 overflow-hidden rounded-full bg-tertiary-100 flex-shrink-0 border border-tertiary-300">
        <span class="text-xs font-medium leading-none"><%= initials %></span>
    </span>
<% when :md %>
    <span class="text-xs text-tertiary-600 inline-flex items-center justify-center h-6 w-6 overflow-hidden rounded-full bg-tertiary-100 flex-shrink-0 border border-tertiary-300">
        <span class="text-sm font-medium leading-none"><%= initials %></span>
    </span>
<% when :lg %>
    <span class="text-tertiary-600 inline-flex items-center justify-center h-8 w-8 overflow-hidden rounded-full bg-tertiary-100 flex-shrink-0 border border-tertiary-300">
        <span class="text-sm font-medium leading-none"><%= initials %></span>
    </span>
<% when :xl %>
    <span class="text-md text-tertiary-600 inline-flex items-center justify-center h-10 w-10 overflow-hidden rounded-full bg-tertiary-100 flex-shrink-0 border border-tertiary-300">
        <span class="text-md font-medium leading-none"><%= initials %></span>
    </span>
<% when :xxl %>
    <span class="text-md text-tertiary-600 inline-flex items-center justify-center h-14 w-14 overflow-hidden rounded-full bg-tertiary-100 flex-shrink-0 border border-tertiary-300">
        <span class="text-lg font-medium leading-none"><%= initials %></span>
    </span>
<% end %>